* {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

/*Paragraphs and Headnings*/

h2 {
  color: #474747;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 2s ease-out;
}


ul {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 0.5;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #D8C9BD;

}

#navigation {
  text-align: center;
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: #D8C9BD;
  padding: 6px;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  font-style: normal;


}

.bydemet {
  width: 250px;
}

a {
  text-decoration: none;
  color: #454545;
  background-color: #D8C9BD;
}

.mellemrum {
  background-color: #D8C9BD;
  padding-left: 40px;
}

main {
  background-color: #FCF8F4;
}


hr.solid {
  border-top: 3px solid #bbb;
}


#velkommen {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 60px;
}

#meninger {
  box-sizing: border-box;
  background-color: #FCF8F4;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #A6A6A6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #d4af37;
  border: 4px solid #d4af37;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #A6A6A6;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #A6A6A6;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #A6A6A6;
  border-width: 10px 10px 10px 0;
  border-color: transparent #A6A6A6 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #a6a6a6;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

#tider {
  position: relative;
  text-align: center;
  color: white;
}

#tidcent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*OM OS*/

.omos-container {
  display: flex;
  padding: 120px;
}
#frame {
  margin-left: 120px;
}

#Ali {
  margin-right: 120px;
}

/*FAQ side*/

/*overskriften*/
.SoS {
  text-align: center;
  padding: 5%;
}

/*container til faq spm*/
.QnA-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

/*skillelinje mellem spm*/
.faq-line {
  width: 60%;
  margin: auto;
  border-top: 1.2pt solid #474747;
}

/* Styling på buttons/spm der åbner og lukker for faq-svar classen*/
.faq-spm {
  color: #474747;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

/* Style faq-svar panel. Obs: hidden by default */
.faq-svar {
  padding-bottom: 20px;
  display: none;
  overflow: hidden;
  margin: auto;
  width: 50%;
  padding: auto;
}

.faq-spm:after {
  content: '\2303';
  /* Unicode for "up arrowhead */
  transform: rotate(180deg);
  color: #474747;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode for "minus tegn" */
}

footer {
  background-color: #BB8C77;

  color: black;
}

footer>section>div>h3,
p {
  color: black;
}


#footblock {
  display: flex;
  justify-content: space-between;
}

#aabning {
  display: flex;
  justify-content: center;

  padding-top: 40px;
}